Thinkful Bootcamp - Data Science

Jason Paik

Unit 2 Lesson 1 - Exploring Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/ESS_practice_data/ESSdata_Thinkful.csv")

In [3]:
df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

In [19]:
df.agea.unique()

array([ 60.,  59.,  24.,  64.,  55.,  nan,  76.,  30.,  84.,  62.,  33.,
        40.,  69.,  32.,  70.,  61.,  21.,  36.,  51.,  25.,  20.,  22.,
        35.,  26.,  54.,  38.,  82.,  53.,  46.,  47.,  72.,  16.,  42.,
        57.,  45.,  28.,  85.,  48.,  52.,  29.,  27.,  79.,  44.,  92.,
        50.,  37.,  75.,  19.,  31.,  65.,  68.,  58.,  39.,  67.,  23.,
        56.,  78.,  83.,  74.,  49.,  43.,  86.,  91.,  34.,  17.,  41.,
        63.,  73.,  80.,  81.,  71.,  89.,  18.,  94.,  87.,  90.,  15.,
       103.,  95.,  97.,  93., 101.,  96., 114.])

In [20]:
df.partner.unique()

array([ 1.,  2., nan])

CNTRY - Categorical

IDNO - Continuous/Ordinal

YEAR - Categorical

TVTOT - Continuous/Ordinal

PPLTRST - Continuous/Ratio

PPLFair - Continuous/Ratio

PPLHlp - Continous/Ratio

HAPPY - Continuous/Ratio

SCLMEET - Continuous/Interval

SCLACT - Continuous/Ratio

GNDR - Categorical

AGEA - Continuous/Ratio

Partner - Categorical